ul {
	list-style-type: none;
	background-color: #ca634e;
	font-size: 0;
	padding: 2px;
	border-radius: 15px;
	width: auto;
}
div {
	background-color: #fd7c61;
	padding: 22px 55px;
	width: 440px;
	box-sizing: border-box;
}
a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	padding: 8px 24px;
	display: block;
	border-radius: 15px;
}
.active {
	background-color: #fd7c61;
}
ul li:last-child {
	margin-right: 0;
}
li {
	display: inline-block;
	margin-right: 5px;
}